<!doctype html>
<html lang="en">

<head>

    <!--====== Required meta tags ======-->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
     <meta name="description" content="">

     <meta name="author" content="Ayro UI">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--====== Title ======-->
    <title>{{ pageTitle }}</title>

    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="static/assets/images/favicon/favicon.ico" type="image/png">

    <!--====== Bootstrap css ======-->
    <link rel="stylesheet" href="static/assets/css/bootstrap.min.css">

    <!--====== Default css ======-->
    <link rel="stylesheet" href="static/assets/css/default.css">

    <!--====== Style css ======-->
    <link rel="stylesheet" href="static/assets/css/style.css">

    <link rel="stylesheet" href="/static/assets/css/LineIcons.css">


</head>

<body>
{% block mainBlock %}
{% endblock mainBlock %}



<section class="footer-area footer-five footer-bark-five mb-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="footer-logo text-center">
                    <a class="mt-30" href="index.html"><img src="/static/assets/images/KLogoWhite.png" width="100px" alt="Logo"></a>
                </div>
                <ul class="social text-center mt-60">
                    <li><a href="https://facebook.com/uideckHQ"><i class="lni-linkedin-original"></i></a></li>
                    <li><a href="https://twitter.com/uideckHQ"><i class="lni-github-original"></i></a></li>

                </ul>
                <div class="footer-support text-center">
                    <span class="mail"><a href="mailto:valanikevin@gmail.com" class="__cf_email__"
                                          data-cfemail="374442474758454377425e5352545c1954585a">valanikevin@gmail.com</a></span>
                </div>

                <div class="copyright text-center mt-35">
                    <p class="text">Copyright © Kevin Valani. Please Feel Free To Modify Project.</p>
                </div>
            </div>
        </div>
    </div>
</section>
        <!--====== jquery js ======-->
    <script src="static/assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="static/assets/js/vendor/jquery-1.12.4.min.js"></script>

    <!--====== Bootstrap js ======-->
    <script src="static/assets/js/bootstrap.min.js"></script>
    <script src="static/assets/js/popper.min.js"></script>

     <!--====== Images Loaded js ======-->
    <script src="static/assets/js/imagesloaded.pkgd.min.js"></script>

    <!--====== Appear js ======-->
    <script src="static/assets/js/jquery.appear.min.js"></script>



    <!--====== Main js ======-->
    <script src="static/assets/js/main.js"></script>

</body>

</html>
